 body {
    padding-top: 30px;
    padding-left:20px;
    background-image: url("champagne_bubbles_macro_by_evanduril-d632zpptransparent.png");
    background-repeat: repeat -x;
    background-color: #F3E1C3;
	font-family:Calibri;
	font-size: 14pt;
}

.btn-xl {
    padding: 12px 20px;
    font-size: 16pt;
    border-radius: 8px;
}

#googleMaps {
	top: 300px;
	position: absolute;
	right: 20px;
}

#event {
	top: 450px;
	width: 500px;
	left: 250px;
	position: absolute;
}

#restaurant {
	top: 450px;
	width: 500px;
	left: 750px;
	position: absolute;
}

 a:link { 
 	padding: 3px;
 	color: #150f05;
 	font-weight: bold;
 	text-decoration: none;
}

a:visited { 
 	padding: 3px;
 	color: #150f05;
 	text-decoration: none;
}

a:hover {
	font-style: italic;
	font-weight: bold;
 	text-decoration: none;
}

#matchingTable {
	top: 700px;
	right: 20px;
	width: 500px;
	height: 380px;
	position: absolute;
	overflow:auto;
	float:right;
 }
