 body {
    padding-top: 30px;
    padding-left:20px;
    background-color: #F3E1C3;
	font-family:Calibri;
	font-size: 14pt;
}

.btn-xl {
    padding: 12px 20px;
    font-size: 16pt;
    border-radius: 8px;
}

#googleMaps {
	width: 500px;
	height: 380px;
	position: absolute;
	right: 20px;
}

 a:link { 
 	padding: 3px;
 	color: #150f05;
 	font-weight: bold;
 	text-decoration: none;
}

a:visited { 
 	padding: 3px;
 	color: #150f05;
 	text-decoration: none;
}

a:hover {
	font-style: italic;
	font-weight: bold;
 	text-decoration: none;
}

#eventTable {
	top: 700px;
	right: 20px;
	width: 500px;
	height: 380px;
	position: absolute;
	overflow:auto;
 }
