@import java.util
@(event:Events,matchEv :util.List[Match])

<!-- website shows information about the selected event -->
@main("Cult and Dine") {
<head>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/bootstrap.min.css")">
    
    <div class="btn-group" role="group" aria-label="...">
		<a href="/home" > <button type="button" class="btn btn-defaut btn-xl">Home</button></a>
		</div>
		<!-- key=AIzaSyDVGIonPsFY9X03uVDndvXKmg0xOEuSyHk -->
		<!-- java script code to insert a nice googleMap thing, doesn't work yet -->
	<script src="http://maps.googleapis.com/maps/api/js?"></script>
	<script>
		function initialize() {
		//maps
			var mapProp = {
				center:new google.maps.LatLng(51.508742, -0.120850),
				zoon: 5,
				mapTypeId: google.maps.MapTypeId.TERRAIN
			};
			var map = new google.maps.Map(document.getElementById("googleMaps"), mapProp);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</head>
<body>
	<div id="googleMaps"></div>

	<div class = "col-lg-2 col-md-3 col-md-4 col-md-6 col-md-8 col-md-12">
		  <h1><strong><center> Welcome to Cult and Dine </center> </strong></h1>
                <h4><center><i><b> We provide the simplest way to dine and see culture in Vienna</b></i></center><h4>
                <br><br><br><br>
                <br>
         
         <!-- information about the selected event is stated, more information form the XML-File could be stated -->
         Title: @event.getTitle<br>
         Category: @event.getCategory<br>



		<br><br><br><br><br><br>
		</div>

	<!-- all restaurants in 1km diameter are listed in this layer; there can be 0 restaurants near -->
	<div id ="matchingTable">
		<table class="table">
			<tr>
				<th>Restaurant Name</th>
				<th>Distance</th>

			</tr>
			<tbody>
			@for(matchE:Match <-matchEv){
			<tr>
				<td>@matchE.r.getName</td>
				<td>@matchE.getDistance</td>

			</tr>
			}
			</tbody>
		</table>
	</div>
</body>
}