@import java.util
@(event:Events,matchEv :util.List[Match])

<!-- website shows information about the selected event -->
@main("Cult and Dine") {
<head>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/bootstrap.min.css")">
    
    <div class="btn-group" role="group" aria-label="...">
		<a href="/home" > <button type="button" class="btn btn-defaut btn-xl">Home</button></a>
		</div>
		<!-- key=AIzaSyDVGIonPsFY9X03uVDndvXKmg0xOEuSyHk -->
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

</head>
<body>

<div id="map" style="width: 500px; height: 400px; top: 300px; right: 30px; position: absolute; z-index:5"></div>
<script type="text/javascript">
		var lat = [@event.lat];
		var lng = [@event.lng];
		var name = [];
		@for(matchE:Match <-matchEv){
			lat.push(@matchE.r.lat);
			lng.push(@matchE.r.lng);
		}


		var map = new google.maps.Map(document.getElementById('map'), {
		  zoom: 14,
		  center: new google.maps.LatLng(lat[0], lng[0]),
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var infowindow = new google.maps.InfoWindow();

		var marker;
alert(lat.length);alert(lng.length);
		for (var i = 0; i < lat.length; i++) {
		  marker = new google.maps.Marker({
			position: new google.maps.LatLng(lat[i], lng[i]),
			map: map
		  });
alert(i);
		   google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
			  infowindow.setContent(name[i]);
			  infowindow.open(map, marker);
			}
		  })(marker, i));
		}

	</script>
</body>
	<div class = "col-lg-2 col-md-3 col-md-4 col-md-6 col-md-8 col-md-12">
		  <h1><strong><center> Welcome to Cult and Dine </center> </strong></h1>
                <h4><center><i><b> We provide the simplest way to dine and see culture in Vienna</b></i></center><h4>
                <br><br><br><br>
                <br>
         
         <!-- information about the selected event is stated, more information form the XML-File could be stated -->
         Title: @event.getTitle<br>
         Category: @event.getCategory<br>
         Address: @event.getStreet<br>



		<br><br><br><br><br><br>
		</div>

	<!-- all restaurants in 1km diameter are listed in this layer; there can be 0 restaurants near -->
	<div id ="matchingTable">
		<table class="table">
			<tr>
				<th>Restaurant Name</th>
				<th>Distance</th>

			</tr>
			<tbody>
			@for(matchE:Match <-matchEv){
			<tr>
				<td>@matchE.r.getName</td>
				<td>@matchE.getDistance</td>

			</tr>
			}
			</tbody>
		</table>
	</div>

}