@import java.util
@(res:Restaurants,matchRest :util.List[Match])

@main("Cult and Dine") {
<head>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/bootstrap.min.css")">
    
    <div class="btn-group" role="group" aria-label="...">
		<a href="/home" > <button type="button" class="btn btn-defaut btn-xl">Home</button></a>
		</div>
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

</head>
<body>
<div id="map" style="width: 500px; height: 400px; top: 300px; right: 30px; position: absolute; z-index:5"></div>
	<script type="text/javascript">
		var lat = [@res.lat];
		var lng = [@res.lng];
		var name = [];
		@for(matchR:Match <-matchRest){
			lat.push(@matchR.e.lat);
			lng.push(@matchR.e.lng);
		}


		var map = new google.maps.Map(document.getElementById('map'), {
		  zoom: 14,
		  center: new google.maps.LatLng(lat[0], lng[0]),
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var infowindow = new google.maps.InfoWindow();

		var marker;
alert(lat.length);alert(lng.length);
		for (var i = 0; i < lat.length; i++) {
		  marker = new google.maps.Marker({
			position: new google.maps.LatLng(lat[i], lng[i]),
			map: map
		  });
alert(i);
		   google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
			  infowindow.setContent(name[i]);
			  infowindow.open(map, marker);
			}
		  })(marker, i));
		}

	</script>
</body>

	<div class = "col-lg-2 col-md-3 col-md-4 col-md-6 col-md-8 col-md-12">
		  <h1><strong><center> Welcome to Cult and Dine </center> </strong></h1>
                <h4><center><i><b> We provide the simplest way to dine and see culture in Vienna</b></i></center><h4> 
                <br><br><br><br>
                <br>
          
          Name: @res.getName <br>
          Category: @res.getCategory <br>
          Priceclass: @res.getPriceClass <br>
          Tel.: @res.getPhoneNumber <br>
          Adress: @res.getAdress

		<br><br><br><br><br><br>
	
		
	</div>
	
<!-- after the start and enddate of a visit are shown you can see all events near a certain restaurant here -->
	<div id ="matchingTable">
	<table class="table">
		<tr>
			<th>Event Name</th>
			<th>Distance</th>

		</tr>
		<tbody>
		@for(matchR:Match <-matchRest){
		<tr>
			<td>@matchR.e.getTitle</td>
			<td>@matchR.getDistance</td>

		</tr>
		}
		</tbody>
	</table>
	</div>
    }