@import java.util
@(event: util.List[Events])

@main("Cult and Dine") {
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    
    	<!-- add responsive button design -->
    	<div class="btn-group" role="group" aria-label="...">
		<a href="/home" > <button type="button" class="btn btn-defaut btn-xl">Home</button></a>
		</div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-2 col-md-3 col-md-4 col-md-6 col-md-8 col-md-12">
                <h1><strong><center> Welcome to Cult and Dine </center> </strong></h1>
                <h4><center><i><b> We provide the simplest way to dine and see culture in Vienna</b></i></center><h4> 
                <br><br><br><br>
                     <br>
                    <table class="table"> 
                            <tr>
                                    <th>Title <br> <hr> </th>
                                    <th>Category <br> <hr> </th>  
                                    <th>Description <br> <hr> </th> 
                            </tr>
                            <tbody>
                            @for(event:Events <-event){
                             <tr>     
                             		<!-- add form to got to the website with the selected event - add according new view -->
                                   <td><a href ="@routes.Application.matchEventRest(event.getTitle)" class="btn"> @event.getTitle</a></td>
                                    <td>@event.getCategory</td>
                                    <td>@event.getOrganizer</td>
                            </tr>
                            }
                            </tbody>
                    </table>
                    <br><br><br><br><br>
            </div>
        </div>
    </div>
}
