
@main("Cult and Dine") {
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/bootstrap.min.css")">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-2 col-md-3 col-md-4 col-md-6 col-md-8 col-md-12">
                <h1><strong><center> Welcome to Cult and Dine </center> </strong></h1>
                <h4><center><i><b> We provide the simplest way to dine and see culture in Vienna</b></i></center><h4> 
                <br><br><br><br>
                <h4>Search for the events on your Vienna Trip:</h4>
                <form method="GET" action=/events>
                    Startdate: <input type="text" name="dateStart" id=3 action=/events > <br>
                    Enddate: <input type="text" name="dateEnd" id=4 action=/events > <br>
                     <button type="events" name="events" action=/events>Search for events</button>
                </form><br>
                <h4>Search for the restaurants on your Vienna Trip:</h4>
                <form method="GET" action=/restaurants>
                     <select class="form-control">
                      <option name="selection">Mariahilf</option>
                      <option name="selection">Landstra&szlig;e</option>
                      <option name="selection">Innere Stadt</option>
                      <option name="selection">Josefstadt</option>
                      <option name="selection">Margarten</option>
                      <option name="selection">Ottakring</option>
                      <option name="selection">Neubau</option>
                      <option name="selection">D&ouml;bling</option>
                      <option name="selection">Alsergrund</option>
                      <option name="selection">Rudolfsheim-F&uuml;nfhaus</option>
                      <option name="selection">Hietzing</option>
                      <option name="selection">Floridsdorf</option>
                      <option name="selection">Donaustadt</option>
                      <option name="selection">Hernals</option>
                      <option name="selection">Brigittenau</option>
                      <option name="selection">W&auml;hring</option>
                      <option name="selection">Wieden, Freihausviertel</option>
                      <option name="selection">Wieden</option>
                      <option name="selection">Penzing</option>
                      <option name="selection">Favoriten</option>
                      <option name="selection">Meidling</option>
                      <option name="selection">Leopoldstadt, Wiener Prater</option>
                      <option name="selection">Alsergrund</option>
                      <option name="selection">Liesing</option>
                    </select>
                    <button type="restaurants" name="restaurants" action=/restaurants>Search for restaurants</button>
                </form><br>
                <br>
            </div>
        </div>
    </div>
}