@(form: controllers.Application.Options)
@main("Cult and Dine") {
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1>
	<!-- use bootstrap css and the css stylesheet for the website -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/bootstrap.min.css")">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-2 col-md-3 col-md-4 col-md-6 col-md-8 col-md-12">
                <h1><strong><center> Welcome to Cult and Dine </center> </strong></h1>
                <h4><center><i><b> We provide the simplest way to dine and see culture in Vienna</b></i></center><h4> 
                <br><br><br><br>
                <div id="event">
                <h4>Search for the events on your Vienna Trip:</h4>
                <form method="GET" action=/events>
                    Startdate: <input type="text" name="dateStart" id=3 action=/events > <br>
                    Enddate: <input type="text" name="dateEnd" id=4 action=/events > <br>
                     <button type="events" name="events" action=/events>Search for events</button>
                </form>
                </div>
                <div id="restaurant">
                <h4>Search in Viennas quarters for a perfect restaurant:</h4>
				<div style="width: 50%; float:left">
					<a href =@routes.Application.filterQuatDatabase("Mariahilf")>Mariahilf</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Landstraße")>Landstra&szlig;e</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Innere Stadt")>Innere Stadt</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Josefstadt")>Josefstadt</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Margarten")>Margarten</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Ottakring")>Ottakring</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Neubau")>Neubau</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Döbling")>D&ouml;bling</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Alsergrund")>Alsergrund</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Rudolfsheim-Fünfhaus")>Rudolfsheim-F&uuml;nfhaus</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Hietzing")>Hietzing</a><br>
					<a href =@routes.Application.filterQuatDatabase("Hernals")>Hernals</a><br>
				</div>
				
				<div style="width: 50%; float:right">
	                <a href =@routes.Application.filterQuatDatabase("Brigittenau")>Brigittenau</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Währing")>W&auml;hring</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Wieden, Freihausviertel")>Wieden, Freihausviertel</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Wieden")>Wieden</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Penzing")>Penzing</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Favoriten")>Favoriten</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Meidling")>Meidling</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Leopoldstadt, Wiener Prater")>Leopoldstadt, Wiener Prater</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Liesing")>Liesing</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Floridsdorf")>Floridsdorf</a><br>
	                <a href =@routes.Application.filterQuatDatabase("Donaustadt")>Donaustadt</a><br>
				</div>
               
                
                </div>
                <br>
            </div>
        </div>
    </div>
}